{
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "Tabs": true,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "endOfLine": "lf"
}
