#configuration .line button {
  margin-left: auto;
}

#configuration .line {
  border-bottom: double 4px #a8a8a8;
}

@media screen and (max-width: 700px) {
  #configuration .line button {
    font-size: 11px;
    font-weight: 100;
    padding: 4px 6px;
  }
}
