#footer {
  background-color: #a8a8a8;
  width: 100vw;
  height: 90px;
}

.footer-top {
  text-align: center;
  padding: 8px;
}

.footer-top i {
  font-size: 46px;
  color: white;
  cursor: pointer;
}

.footer-bottom {
  background-color: #7b7b7b;
  width: 100vw;
  height: 30px;
}

.copyright {
  font-size: 11px;
  text-align: center;
  padding: 6px 8px;
  margin: 0;
  color: white;
}
