#header {
  height: 48px;
  width: 100vw;
  background-color: #A8A8A8;
  padding: 8px 20px;
  box-shadow: gray 0 0 10px;
}

.title {
  color: white;
  font-size: 22px;
  width: 220px;
  height: 28px;
  margin: auto;
  font-family: 'Noto Serif JP', serif;
  
}