#header {
  height: 48px;
  width: 100vw;
  background-color: #a8a8a8;
  padding: 8px 20px;
  box-shadow: gray 0 0 10px;
  position: relative;
}

#header .title {
  color: white;
  font-size: 28px;
  width: 260px;
  text-align: center;
  height: auto;
  margin: auto;
  transform: translate(0, -6px);
  font-family: "Nico Moji";
}

#header .title a {
  color: white;
}

#header .title a:hover {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  #header .title {
    font-size: 22px;
    transform: translate(0, 0);
  }
}

#header .header-menu-icon {
  position: absolute;
  top: 2px;
  right: 32px;
  cursor: pointer;
  padding: 8px;
  color: white;
  transition: 0.2s color;
}

#header .header-menu-icon:hover,
#header .header-menu-icon:active {
  color: black;
}

#header .header-menu-icon i {
  font-size: 28px;
}

#header .header-menu {
  z-index: 10;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: white;
  width: 160px;
  border-radius: 8px;
  box-shadow: gray 2px 2px 6px;
}

#header .header-menu ul {
  padding: 12px 20px;
  list-style: none;
}

#header .header-menu li {
  cursor: pointer;
  padding: 4px;
  margin: 6px 0;
  font-size: 14px;
  color: #7d7d7d;
  border-bottom: solid 1px #a8a8a8;
  font-weight: bold;
  transition: 0.2s color;
}

.header-menu li:hover,
.header-menu li:active {
  color: #4dcee6 !important;
  border-bottom: solid 1px black;
}

.header-menu i {
  width: 24px;
}
