.history-cards {
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
  .history-cards {
    margin-top: 52px;
  }
}

.history-cards .head-line-1 {
  width: 100px;
  font-size: 14px;
  color: rgb(109, 109, 109);
  font-weight: bold;
}

.history-cards .inner-text {
  font-size: 12px;
  color: rgb(160, 160, 160);
  width: calc(100% - 100px);
  text-align: center;
  padding-top: 8px;
}

@media screen and (max-width: 700px) {
  .history-cards .head-line-1 {
    font-size: 10px;
    width: 60px;
  }

  .history-cards .inner-text {
    width: calc(100% - 60px);
    font-size: 10px;
    padding: 0;
    margin-top: 4px;
  }

  .history-cards .line {
    display: flex;
  }
}

.members-area {
  display: inline-flex;
  flex-wrap: wrap;
}

#history .user-plate {
  padding-right: 16px;
  margin: 4px 8px 8px 0;
}

#history .game-name-plate {
  position: relative;
  top: 0;
  padding: 2px 12px;
}
