.menu-header {
	width: 100%;
	height: 40px;
	background-color: #A8A8A8;
	color: white;
	font-weight: bold;
	padding: 8px 12px;
	border-radius: 0 22px 0 0;
	font-size: 14px;
}

@media screen and (max-width: 480px) {
	.menu-header {
		padding: 10px;
		font-size: 12px;
	}
}