.pagenation {
  display: block;
  width: 94vw;
  height: 60px;
  border: 1px black solid;
  margin: 0 3vw;
  padding: 20px 0 180px;
}

@media screen and (min-width: 1000px) {
  .pagenation {
      width: 960px;
      margin: 0 calc((100% - 960px) / 2);
    }
}

@media screen and (max-width: 480px) {
.pagenation {
  width: 96vw;
  margin: 40px 2vw;
}
}