.serch-button {
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  font-size: 14px;
  color: #a8a8a8;
  padding: 0;
  width: 80%;
  max-width: 140px;
  margin: 2px auto;
  border-width: 1px;
  transition: 0.2s color;
}

/* .serch-button:focus {
  outline-style: none;
} */

.serch-button:hover,
.serch-button:active {
  color: #4dcee6 !important;
}
