.serch-button {
	position: absolute;
	top: 23px;
	right: 22px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 14px;
	color: #7d7d7d;
	padding: 0;
	margin: 0;
}

.serch-button:focus{
	font-weight: bold;
	outline-style: none;
}