.side-menu {
    width: 200px;
    margin: 0 40px 0 0;
    height: calc(100vh - 210px);
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .side-menu {
        width: 120px;
        margin: 0 12px 0 0;
    }
}

@media screen and (max-width: 450px) {
    .side-menu {
      width: 0;
      display: none;
    }
    #top .side-menu {
        width: 120px;
        display: block;
    }
}