.shadow-text-area input {
    width: 200px;
    margin-left: 30px;
}

.shadow-underline {
    width: 224px;
    margin-left: 30px;
}

#sign-up .input-wrapper {
    margin: 0 0 40px;
}

.accept-area {
    margin-bottom: 20px 0 40px;
}

.accept-area p {
    font-size: 12px;
}

.accept-area button {
    background-color: #748aff;
    border: none;
    font-size: 16px;
	color: white;
	font-weight: bold;
	width: 80%;
	height: 32px;
	border-radius: 8px;
	margin: 20px 10%;
}

.accept-area button:focus{
    outline-style: none;
}