#login .button-area button,
#logout .button-area button,
#register .button-area button {
  border: none;
  font-size: 14px;
  color: white;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  margin: 0 0 20px;
}

#login .button-area,
#logout .button-area,
#register .button-area {
  width: 280px;
  margin: 40px calc((100% - 280px) / 2);
}

@media screen and (max-width: 600px) {
  #login .button-area,
  #logout .button-area,
  #register .button-area {
    width: 94%;
    margin: 12px 3%;
  }
  #login .button-area button,
  #logout .button-area button,
  #register .button-area button {
    font-size: 11px;
  }
}

#login .button-area button:focus,
#logout .button-area button:focus,
#register .button-area button:focus {
  outline-style: none;
}

.link-area {
  text-align: center;
  margin: 40px 0 10px;
  font-size: 14px;
}

.facebook {
  background-color: #7389be;
}

.twitter {
  background-color: #37b4f8;
}

.google {
  background-color: #ee3421;
}

#login p,
#logout p,
#register p {
  text-align: center;
}

@media screen and (max-width: 800px) {
  #login p,
  #logout p,
  #register p {
    font-size: 12px;
  }
}

#login .button-area button i,
#logout .button-area button i {
  margin: 0 8px 0 0;
  font-size: 14px;
}
/*
  ボタン内の文字が中心にならないためコメント化
*/
/* #login .button-area button {
  line-height: 32px;
} */
#login .center-main-body,
#logout .center-main-body {
  min-height: 300px;
  height: 360px;
}

#logout .button-area {
  margin: 70px calc((100% - 280px) / 2);
}

#login .center-main-body {
  height: 180px;
  min-height: 180px !important;
}
