#top {
  position: relative;
  min-height: 100vh;
}

#top .shadow-input-area input {
  padding-right: 40px;
}

#top .button-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  #top .shadow-input-area input {
    padding-right: 20px;
  }

  #top .menu-inner-wrapper .shadow-input-area input {
    height: 20px;
    font-size: 10px;
  }

  #top .menu-inner-wrapper .serch-button,
  #top .menu-inner-wrapper .remove-button {
    font-size: 10px;
    font-weight: 100;
    top: 23px;
    right: 16px;
  }
}

@media screen and (max-width: 600px) {
  #top .side-menu {
    display: block;
  }

  #top .side-menu {
    width: 240px;
  }
}

@media screen and (max-width: 450px) {
  #top .main-body {
    width: 90%;
    margin: 120px 5% 40px;
  }

  #top .side-menu {
    display: block;
    width: 90%;
    margin: 0 5% 80px;
  }

  #top #body {
    display: block;
  }
}
