.user-plate {
  display: flex;
  min-width: 80px;
  /* max-width: 200px; */
  padding: 2px 4px;
  margin: 8px 0;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: grey 1px 1px 4px;
  cursor: pointer;
}

.user-plate .user-name {
  color: #7d7d7d;
}
