body {
  background-color: #ebebeb;
  margin: 0 !important;
  min-height: 100vh;
}

@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}

.menu-inner-wrapper li {
  color: #7d7d7d;
}

.menu-wrapper-1 {
  transform: translateY(0px);
}

.menu-wrapper-2 {
  transform: translateY(-20px);
}

.menu-wrapper-3 {
  transform: translateY(-40px);
}

.menu-wrapper-3 .menu-inner-wrapper {
  padding: 20px 12px;
}

.menu-wrapper-3 .menu-inner-wrapper {
  border-radius: 0 0 22px 22px;
  padding-bottom: 30px;
}

.menu-wrapper-last .menu-inner-wrapper {
  border-radius: 0 0 22px 22px;
  padding-bottom: 30px;
}

.account-side-menu .menu-inner-wrapper {
  border-radius: 0 0 0 22px !important;
}

.account-side-menu .menu-inner-wrapper ul {
  list-style: none;
  padding: 0;
}

.account-side-menu .menu-inner-wrapper li {
  cursor: pointer;
  padding: 4px;
  margin: 6px 0;
  font-size: 14px;
  color: #7d7d7d;
  border-bottom: solid 1px #a8a8a8;
  font-weight: bold;
  transition: 0.2s color;
}
.account-side-menu .menu-inner-wrapper li:hover,
.account-side-menu .menu-inner-wrapper li:active {
  color: #4dcee6;
  border-bottom: solid 1px black;
}

.account-side-menu .menu-inner-wrapper i {
  width: 24px;
}

@media screen and (max-width: 600px) {
  .side-menu .account-side-menu li {
    font-size: 11px !important;
  }
  .account-side-menu .menu-inner-wrapper i {
    width: 16px;
  }
}

p {
  color: #7d7d7d;
}

/* ボタン共通デザイン */
button {
  background-color: gray;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 4px 12px;
}
button:focus {
  outline-style: none;
}

/* ボタン背景色（青） */
.color-blue {
  background-color: #465ac7 !important;
}

/* ボタン背景色（赤） */
.color-red {
  background-color: #a54848 !important;
}

/* ボタン背景色（黄） */
.color-yellow {
  background-color: #937e0c !important;
}

/* コンテンツを横並びにするクラス */
.line {
  display: flex;
}

/* ラッパー（見出し＋段落スペース） */
.wrapper {
  margin: 0 0 40px;
}
.wrapper .left-space-wrapper {
  width: calc(100% - 20px);
  padding-left: 20px;
}

input::placeholder {
  color: rgb(214, 214, 214);
}
